.main-section {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.color {
    width: 300px;
    height: 15px;
    background-color: rgb(8, 240, 182);
    margin: 0 auto;
}

p {
    padding-left: 50%;
    padding-top: 10px;
}
