.main {
    width: 700px;;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    padding: 20px;
}

img {
    width: 100px;
    height: 100px;
    float: right;
    padding-left: 10px;
    padding-bottom: 5px;
}


