* {
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    border-left: 2px solid black;
}

.parent1 {
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 10px;
}

/* .c1 {

} */
.c2 {
    width: 100%;
    height: auto;
    min-height: 10px;
    background-color: black;
    color: white;
    margin-left: 20px;
    grid-column-start: ;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.link-1 {
    position: absolute;
    left: calc(100% - 150px);
    top:0px;

}
.link-2 {
    position: absolute;
    left: calc(100% - 100px);
    top: 0px;
}

.link-3 {
    position: absolute;
    left: calc(100% - 50px);
    top: 0px;
}
a {
    color: orangered;
    font-size: 15px;
}
.parent2 {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.child {
    background-color: white;
    width: 100%;
    min-height: 10px;
    padding-bottom: 5px;
    border: 2px solid black;
}
p {
    padding: 5px;
}

@media screen and (max-width:768px) and (min-width:481px){
    .c2{
        grid-row: span 1 / 2;
        width: 100%;
        height: 50px;
        position: absolute;
        float: right;
        right: 0%;
    }
    .child,.para,h3 {
        position: relative;
        top: 50px;
    }
}

@media screen and (max-width:480px) and (min-width:320px) {
    .c2{
        grid-row: span 1 / 2;
        width: 100%;
        height: 50px;
        position: absolute;
        float: right;
        right: 0%;
    }
    .child,.para,h3 {
        position: relative;
        top: 50px;
    }
}